
*{
  padding: 0px;
  margin: 0px;
}


body {
  background-color: pink;
  background-image: url("../html basics/mountains.jpeg");
  background-repeat: no-repeat;
  background-position: center top;
}

/* p {
  color: red;
  background: yellow;
} */
#hellonam {
  color:aliceblue;
  border-bottom: 2px solid blue;
}
